:root {
    /* colors */
    --color-primary: #25ab75;
    --color-primary-dark: #208c61;
    --color-bg-primary: #1a1a1a;
    --color-bg-secondary: #242424;
    --color-bg-footer: #151515;
    --color-white: #ffffff;
    --color-text: #676767;
    --color-border: #373737;

    /* Fonts and typography */
    --ff-body: "Space Grotesk", sans-serif;

    /* Font Sizes */
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-xxl: 3.2rem;
    --fs-biggest: clamp(3rem, 8vw, 5rem);
    /* clamp() function in CSS allows you to set a value that is responsive to the viewport or container size. */



    /* Font Weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* Z-Index */
    --zindex-menu: 1000;
    --zindex-fixed: 1010;

    /* Width & Height */
    --width-container: 98rem;
    --height-header: 10rem;
    --height-header--scroll: 8rem;

    /* Transition & Box Shadow */
    --transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    --box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
}

/* Reset CSS  */

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    color: var(--color-white);
    font-weight: var(--fw-bold);
}

html {
    font-size: 62.5%;
    /* This sets the base font size to 62.5%, so that equates to 1rem = 10px. */
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

main {
    overflow: hidden;
}

body {
    background-color: var(--color-bg-primary);
    font-family: var(--ff-body);
    font-size: var(--fs-md);
    color: var(--color-text);
    margin-top: var(--height-header);
    line-height: 1.2;
}

/* Reusable CSS */

.container {
    width: 90%;
    max-width: var(--width-container);
    margin: auto;
}

.d-grid {
    display: grid;
    gap: 3rem;
}

/* Header */

.header {
    background-color: var(--color-bg-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    /* box-shadow: 0 7px 5px; */
    border-radius: 45px;
    height: var(--height-header);
    z-index: var(--zindex-menu);
    transition: var(--transition);
}

.header--scroll {
    height: var(--height-header--scroll);
    box-shadow: var(--box-shadow);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.brand_logo {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.brand_logo i {
    color: var(--color-white);
}

.nav_menu_list {
    display: flex;
    column-gap: 4rem;
    font-size: 2rem;
}

.nav_link {
    transition: var(--transition);
}

.nav_link:hover {
    color: var(--color-primary);
}

.nav_toggle {
    display: none;
    font-size: var(--fs-xl);
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
}

.nav_toggle:hover {
    color: var(--color-primary);
}

@media screen and (max-width:968px) {
    .nav_menu_list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4rem;
    }

    .nav_toggle {
        display: block;
    }

    .brand_logo,
    .nav_toggle {
        z-index: var(--zindex-fixed);
    }
}

/* Developer Section */

.developer_wrapper {
    min-height: calc(100vh - var(--height-header));
    padding: 5rem 0;
}

.developer_content {
    text-align: center;
    /* background-color: lightsalmon; */
}

.developer_title {
    font-size: var(--fs-biggest);
    margin-bottom: 5rem;
    position: relative;
}

.developer_title::after {
    position: absolute;
    content: "";
    background-color: var(--color-primary);
    width: 10rem;
    height: 0.5rem;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

.developer_description {
    margin-bottom: 5rem;
    /* background-color: yellowgreen; */
}

.developer_info {
    border-top: 1px solid var(--color-border);
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.developer_info_number {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-bold);
    color: var(--color-white);
    margin-bottom: 1rem;
}

.developer_info_title {
    font-size: var(--fs-sm);
    color: var(--color-white);
}

@media screen and (max-width: 968px) {
    .developer_img {
        width: 280px;
        justify-self: center;
    }
}

/* About Me Section */
.section {
    padding: 5rem 0;
}

.section_header {
    margin: 8rem 0;
    text-align: center;
}

.section_title {
    font-size: var(--fs-xl);
    margin-bottom: 0.5rem;
}

.section_subtitle {
    font-weight: var(--fw-bold);
    font-size: var(--fs-md);
    position: relative;
}

.section_subtitle::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 0.5rem;
    background-color: var(--color-primary);
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    display: inline-block;
    padding: 1.5rem 4rem;
    color: var(--color-white);
    font-weight: var(--fw-semibold);
    transition: var(--transition);
}

.btn--primary {
    background-color: var(--color-primary);
}

.btn--primary:hover {
    /* border-radius: 25%; */
    background-color: var(--color-primary-dark);
}

.about_content {
    max-width: 50rem;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
}

.about_title {
    font-size: var(--fs-xxl);
    margin-bottom: 3rem;
}

.about_description {
    margin-bottom: 3rem;
}

.skills {
    justify-self: center;
}

.skills_title {
    font-size: var(--fs-lg);
    text-align: center;
    margin-bottom: 3rem;
}

.skills_wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.skills_content {
    background-color: var(--color-bg-secondary);
    box-shadow: var(--box-shadow);
    padding: 3rem;
}

.skills_item {
    margin-bottom: 1rem;
}

.skills_subtitle {
    text-align: center;
    margin-bottom: 2rem;
}

.skills_item i {
    color: var(--color-primary);
}